{% extends './base.html' %}
{% load static %}
{% block content %}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Revisar</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Hogar</a></li>
							<li class="active">Revisar</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<form method="post" id="formulario">{% csrf_token %}
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<h3>SI TIENE CUENTA SOLO INGRESE EL EMAIL, DIRECCIÓN Y LA FORMA DE PAGO</h3><br><br>
						<div class="col-md-7">
							<!-- Billing Details -->
							<div class="billing-details">
								<div class="section-title">
									<h3 class="title">DIRECCIÓN DE ENVIO</h3>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="firstname" placeholder="Nombre">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="lastname" placeholder="Apellido">
								</div>
								<div class="form-group">
									<input class="input" type="email" name="email" placeholder="Correo electrónico">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="address" placeholder="Dirección">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="city" placeholder="Ciudad">
								</div>
								<div class="form-group">
									<input class="input" type="tel" name="phone" placeholder="Teléfono">
								</div>
								<div class="form-group">
									<input class="input" type="password" maxlength="18" max="18" name="pass" placeholder="Password">
								</div>
								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" id="create-account">
										<label for="create-account">
											<span></span>
											¿Crear una cuenta?
										</label>
										<div class="caption">
											<p>Contraseña</p>
											<input class="input" type="password" name="password" placeholder="Enter Your Password">
										</div>
									</div>
								</div>
							</div>
							<!-- /Billing Details -->

							<!-- Shiping Details -->
							<div class="shiping-details">
								<div class="section-title">
									<h3 class="title">DIRECCIÓN DE ENVÍO</h3>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="shiping-address">
									<label for="shiping-address">
										<span></span>
										¿Enviar a una dirección diferente?
									</label>
									<div class="caption">
										
										<div class="form-group">
											<input class="input" type="text" name="address" placeholder="Dirección">
										</div>
										
									</div>
								</div>
							</div>
							<!-- /Shiping Details -->

							<!-- Order notes -->
							<div class="order-notes">
								<textarea class="input" placeholder="Nota del Pedido"></textarea>
							</div>
							<!-- /Order notes -->
						</div>

						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">SU PEDIDO</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>PRODUCTO</strong></div>
									<div><strong>TOTAL</strong></div>
								</div>
								<div class="order-products">
									<div class="order-col">
										<div>1x Nombre del producto va aquí</div>
										<div>$980.00</div>
									</div>
									<div class="order-col">
										<div>2x Nombre del producto va aquí</div>
										<div>$980.00</div>
									</div>
								</div>
								<div class="order-col">
									<div>Envío</div>
									<div><strong>GRATIS</strong></div>
								</div>
								<div class="order-col">
									<div><strong>TOTAL</strong></div>
									<div><strong class="order-total">$2940.00</strong></div>
								</div>
							</div>
							<div class="payment-method">
								<div class="input-radio">
									<input type="radio" name="payment" id="payment-1">
									<label for="payment-1">
										<span></span>
										Transferencia bancaria directa
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="input-radio">
									<input type="radio" name="payment" id="payment-2">
									<label for="payment-2">
										<span></span>
										Pago con cheque
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="input-radio">
									<input type="radio" name="payment" id="payment-3">
									<label for="payment-3">
										<span></span>
										Sistema de Paypal
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="terms">
								<label for="terms">
									<span></span>
									He leído y acepto los<a href="#"> términos y condiciones.</a>
								</label>
							</div>
							<button id="envio" type="button" class="primary-btn order-submit">Realizar pedido</button>
						</div>
						<!-- /Order Details -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</form>
		</div>
		<!-- /SECTION -->

{% endblock %}

{% block script %}

	<script>
		$(document).ready(function(){
			$("#envio").click(function(){
				// console.log($("#payment-1").is(":checked"));
				if($("#payment-1").is(":checked") == true){
					$("#formulario").submit();
				}
				else if($("#payment-2").is(":checked") == true){
					$("#formulario").submit();
				}
				else if($("#payment-3").is(":checked") == true){
					$("#formulario").submit();
				}
				else{
					$.notify("Debe elejir una forma de pago",
		              {globalPosition:"top"}
		            );
				}
			});
		});
	</script>

{% endblock %}





