{% extends './base.html' %}
{% load static %}
{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'img/shop01.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Colección<br>Laptop</h3>
								<a href="#" class="cta-btn">COMPRA AHORA  <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'img/shop03.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Colección<br>accesorios</h3>
								<a href="#" class="cta-btn">COMPRA AHORA  <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static 'img/shop02.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Colección<br>cámaras</h3>
								<a href="#" class="cta-btn">COMPRA AHORA <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		{% if product %}
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">NUEVOS PRODUCTOS</h3>
								<!-- <div class="section-nav">
									<ul class="section-tab-nav tab-nav">
										<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
										<li><a data-toggle="tab" href="#tab1">Teléfonos inteligentes</a></li>
										<li><a data-toggle="tab" href="#tab1">Cámaras</a></li>
										<li><a data-toggle="tab" href="#tab1">Accesorios</a></li>
									</ul>
								</div> -->
							</div>
						</div>
						<!-- /section title -->

						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											{% for i in product %}
												<div class="product">
													<div class="product-img">
														<img src="{{i.img_mostrador.url}}" alt="">
														<div class="product-label">
															{% if i.oferta != '0' %}<span class="sale">-{{i.oferta}}%</span>{% endif %}
															<span class="new">NEW</span>
														</div>
													</div>
													<div class="product-body">
														<p class="product-category">Categoría</p>
														<h3 class="product-name"><a href="#">{{i.name}}</a></h3>
														{% if i.oferta == '0' %}<h4 class="product-price">${{i.precio}} </h4>{% else %}<h4 class="product-price">${{i.descuento}} </h4><del class="product-old-price">${{i.precio}}</del></h4>{% endif %}
														<div class="product-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
													</div>
													<div class="add-to-cart">
														<button type="button" id="{{i.pk}}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> añadir al carrito</button>
													</div>
												</div>
											{% endfor %}
										</div>
										<div id="slick-nav-1" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->
		{% endif %}
		<br>
		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>DÍAS</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>HORAS</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>MINUTOS</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>SEGUNDOS</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">OFERTA ESPECIAL ESTA SEMANA</h2>
							<p>NUEVA COLECCIÓN HASTA 50% DE DESCUENTO</p>
							<a class="primary-btn cta-btn" href="#">Comprar ahora</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">MÁS VENDIDOS</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									{% for i in categoria %}
										<li class="active"><a data-toggle="tab" href="#{{i.name}}">{{i.name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								{% for i in product %}
									<div id="{{i.marca.categoria.name}}" class="tab-pane fade in active">
										{% for j in categoria %}
											{% if  i.marca.categoria.name == j.name%}
												<div class="products-slick" data-nav="#slick-nav-2">
													<!-- product -->
													<div class="product">
														<div class="product-img">
															<img src="{% static 'img/product06.png' %}" alt="">
															<div class="product-label">
																{% if i.oferta != '0' %}<span class="sale">-{{i.oferta}}%</span>{% endif %}
																<!-- <span class="new">NUEVO</span> -->
															</div>
														</div>
														<div class="product-body">
															<p class="product-category">Categoría</p>
															<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
															{% if i.oferta == '0' %}<h4 class="product-price">${{i.precio}} </h4>{% else %}<h4 class="product-price">${{i.descuento}} </h4><del class="product-old-price">${{i.precio}}</del></h4>{% endif %}
															<!-- <div class="product-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div> -->
														</div>
														<div class="add-to-cart">
															<button type="button" id="{{i.pk}}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> añadir al carrito</button>
														</div>
													</div>
													<!-- /product -->

													<!-- /product -->
												</div>
												<div id="slick-nav-2" class="products-slick-nav"></div>
											{% endif %}
										{% endfor %}
									</div>
								{% endfor %}
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">MÁS VENDIDOS</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product07.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product08.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product09.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product01.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product02.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product03.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">MÁS VENDIDOS</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product04.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product05.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product06.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product07.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product08.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product09.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categoría</p>
										<h3 class="product-name"><a href="#">El nombre del producto va aquí</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product01.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product02.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product03.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product04.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product05.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="{% static 'img/product06.png' %}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

{% endblock %}		

{% block script %}

	<script>
		$(document).ready(function(){
			$(document).on('click','button[type="button"]',function(){
				$.ajax({
					url:'/',
					data:{'id':this.id,'quanty':1},
					success:function(data){
						$("#pather").empty();
						var obj = JSON.parse(data);
						console.log(obj);
						let subtotal = 0;
						for(var i = 0; i < obj.length; i++){
							$("#pather").append(`
								<div class="product-widget">
									<div class="product-img">
										<img src="`+obj[i]['img']+`" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-name"><a href="#">`+ obj[i]['articulo'] +`</a></h3>
										<h4 class="product-price"><span class="qty">`+obj[i]['cantidad']+` x</span>`+obj[i]['total']+`.0</h4>
									</div>
									<a id="{{i.codigo}}" href="javascript:void(0);" type="button" class="delete"><i class="fa fa-close"></i></a>
								</div>
							`);
							subtotal = subtotal + parseFloat(obj[i]['total']);
						}
						$("#subtotal").empty();
						$("#subtotal").append(`SUBTOTAL: $`+subtotal);
						$("#carrito").text(obj.length);
						$("#totalValues").empty();
						$("#totalValues").text(obj.length+` artículo (s) seleccionado`);
					}	
				});
			});
		});
	</script>

{% endblock %}










